name: Run unit tests.

on:
  push:
    branches:
    - main
  pull_request:
    branches:
      - main

#    paths:
#      - 'CMakeLists.txt'
#      - 'cmake/*'
#      - 'samples/*'
#      - 'src/*'
#      - 'tools/*'
#      - 'tests/*'

jobs:
 run-unit-tests:
    runs-on: ubuntu-24.04

    steps:
    - name: Check out repository code.
      uses: actions/checkout@v4
      with:
        fetch-depth: 1

    - name: Install Pipx.
      id: install-pipx
      run: |
        sudo apt update && sudo apt install pipx
        sudo apt install -y pipx

        pipx --version

    - name: Install Invoke.
      id: install-invoke
      run: |
        pipx install invoke

    - name: Run setup.
      id: invoke-setup
      run: |
        inv setup

    - name: Restore PCH cache.
      uses: actions/cache@v3
      with:
        path: test-build/CMakeFiles/*.dir/cmake_pch.hxx*
        key: ${{ runner.os }}-pch

    - name: List PCH.
      id: list-pch
      run: |
        if [ "${{ steps.cache.outputs.cache-hit }}" == "true" ]; then
          find test-build/ -iname 'cmake_pch.hxx*'
        else
          echo "No cache hit. PCH files will be rebuilt."
        fi

    - name: Build tests.
      id: build-tests
      run: |
        inv build --mode=test-build --parallel --ci-build

    - name: Save build cache
      uses: actions/cache@v3
      with:
        path: test-build/CMakeFiles/
        key: ${{ runner.os }}-pch

    - name: Run tests.
      id: run-tests
      run: |
        ./test-build/crow_tests
